# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# build/dist folders
build-*
dist-*
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/snippets.json.code-snippets
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Poetry
*.pyc

## Packages
/dist/*

## Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version

/docs/site/*
.mypy_cache

.venv

## backen
src-back/models
