@import 'tailwindcss';

@theme {
  --font-sans: 'Geist';
  --font-mono: 'GeistMono';
}

@utility underline-line-through {
  text-decoration-line: underline line-through;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/Geist[wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/geist/GeistMono[wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: monospace;
  font-display: swap;
}
